.navbar{
    background-color: #5D001E;
    padding: 20px;
    width: 100%;
}          
        .navbar-nav
{
			font-weight: normal;
            color: white; 
            font-size: 120%;
        }         
        .navbar-brand{
        	color: white;
        	font-weight: bold;
        }
        .nav-item{
                        color: white;
                        font-weight: normal;
        }
        .navbar-nav > li{
  padding-left:25px;
  padding-right:25px;
}
.navbar-nav > li{
  margin-left:25px;
  margin-right:25px;
}
        a{
            color: white;
            font-size: 120%;
        }
        a:hover {
  border-bottom: 1.5px solid white;
  background: linear-gradient(to top,#ffe838,#fd57bf);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.carousel-item {
  height: 600px;  
}
html,body{
	margin:0px;
	padding:0px;
}
#body{
  background-color:#f0f0f0;
}
hr{
	width: 280px;
	color: solid #5D001E;
}
h3{
	color: #9a1750;
	letter-spacing: 1px;
  text-align: center;
    
}
p{
	word-spacing: 2px;
	color:black;
     font-size: 135%;
     font-family: sans-serif;
     word-spacing: 2px;
}
.container-fluid{
background-color: #f5f5f5;
}
.card{
    max-height: 40rem;
}
#footer{
    padding: 20px;
    background-color: #5D001E;
    color: white;
    max-width: 100%;
}
.row{
    margin: 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  height:10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px 5px 0px; 
}
.fa:hover {
    opacity: 1.5;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter{
 background: #55ACEE;
  color: white;
}
.fa-instagram{
    background: #3B5998;
  color: white;

}